In [16]:
import numpy as np
import pandas as pd
filename="Phone_Formatted.xlsx"
data=pd.read_excel(filename)
data

,CityDesc,StateDesc,PINCode,Country,Contact Region,STDAccessNo,Tel1,Tel1Format
0,NaN,NaN,NaN,NaN,Not Available,NaN,- +44-1706-811203,NaN
1,NaN,NaN,NaN,India,India,NaN,- 011-24305273,NaN
2,NaN,NaN,NaN,India,India,NaN,- 011-66222266 /,NaN
3,NaN,NaN,NaN,NaN,Not Available,NaN,-(302) 885-4289,NaN
4,NaN,NaN,NaN,NaN,Not Available,NaN,-(302) 885-5637,NaN
...,...,...,...,...,...,...,...,...
34217,NaN,NaN,NaN,NaN,Not Available,NaN,M: +386 70 999 899,NaN
34218,NaN,NaN,NaN,NaN,Not Available,NaN,Mobile: 96170718361,NaN
34219,NaN,NaN,NaN,France,Europe,NaN,Tel : +33966663038,NaN
34220,NaN,NaN,NaN,France,Europe,NaN,Tel : +33966664016,NaN
34221,NaN,NaN,NaN,mauritius,MECAA,NaN,Tel:(230) 203 7254,NaN

In [17]:
data.head()

,CityDesc,StateDesc,PINCode,Country,Contact Region,STDAccessNo,Tel1,Tel1Format
0,NaN,NaN,NaN,NaN,Not Available,NaN,- +44-1706-811203,NaN
1,NaN,NaN,NaN,India,India,NaN,- 011-24305273,NaN
2,NaN,NaN,NaN,India,India,NaN,- 011-66222266 /,NaN
3,NaN,NaN,NaN,NaN,Not Available,NaN,-(302) 885-4289,NaN
4,NaN,NaN,NaN,NaN,Not Available,NaN,-(302) 885-5637,NaN

In [18]:
data["Tel1"]

0          - +44-1706-811203
1             - 011-24305273
2           - 011-66222266 /
3            -(302) 885-4289
4            -(302) 885-5637
                ...
34217     M: +386 70 999 899
34218    Mobile: 96170718361
34219     Tel : +33966663038
34220     Tel : +33966664016
34221     Tel:(230) 203 7254
Name: Tel1, Length: 34222, dtype: object

In [19]:
import numpy as np
import pandas as pd
filename="Phone_Formatted.xlsx"
data=pd.read_excel(filename)
dataset=[]
pro3=[] #Removed White Space here
for i in data["Tel1"].head():
    dataset.append(i)
print(dataset)
for pro1 in range(len(dataset)):
    pro2=dataset[pro1].replace(" " and "(" and "/","")
    pro3.append(pro2)
pro3

[' - +44-1706-811203', ' - 011-24305273', ' - 011-66222266 /', ' -(302) 885-4289', ' -(302) 885-5637']

[' - +44-1706-811203',
 ' - 011-24305273',
 ' - 011-66222266 ',
 ' -(302) 885-4289',
 ' -(302) 885-5637']

In [20]:
import numpy as np
import pandas as pl
filename="Phone_Formatted.xlsx"
data=pl.read_excel(filename)
dataset=[]
pro3=[] #Removed White Space here
pro5=[] #Removed "/"
for i in data["Tel1"].head(5):
    dataset.append(i)
for pro1 in range(len(dataset)):
    pro2=dataset[pro1].replace(" ","")
    pro3.append(pro2)
    pro4=pro3[pro1].replace("/","")
    pro5.append(pro4)
print(pro5)
for s in pro5:
    a=s[1:]
    a="+"+a
    print(a)

['-+44-1706-811203', '-011-24305273', '-011-66222266', '-(302)885-4289', '-(302)885-5637']
++44-1706-811203
+011-24305273
+011-66222266
+(302)885-4289
+(302)885-5637

In [21]:
import numpy as np
import pandas as pl
filename="Phone_Formatted.xlsx"
data=pl.read_excel(filename)
dataset=[]
pro3=[] #Removed White Space here
pro5=[] #Replaced "/"
pro7=[] #Replaced ")"
for i in data["Tel1"].head(10):
    dataset.append(i)
for pro1 in range(len(dataset)):
    pro2=dataset[pro1].replace(" ","")
    pro3.append(pro2)
    pro4=pro3[pro1].replace("/","")
    pro5.append(pro4)
    pro6=pro5[pro1].replace(")","-")
    pro7.append(pro6)
print(pro7)
for s in pro7:
    a=s[1:]
    a="+"+a
    print(a)

['-+44-1706-811203', '-011-24305273', '-011-66222266', '-(302-885-4289', '-(302-885-5637', '-(973-683-9000', '-(D-022-67001398', '-+52555223.3224', '+911244629560', '+01-4083216300']
++44-1706-811203
+011-24305273
+011-66222266
+(302-885-4289
+(302-885-5637
+(973-683-9000
+(D-022-67001398
++52555223.3224
+911244629560
+01-4083216300

In [22]:
for sp in pro7:
    b=sp[6:]
    s=b.lstrip()
    s=b.rstrip()
    print(s)

706-811203
4305273
6222266
885-4289
885-5637
683-9000
2-67001398
5223.3224
4629560
83216300

In [23]:
news=[]
for sp in pro7:
    b=sp[6:]
    s=b.lstrip()
    s=b.rstrip()
    news.append(s)
print(news)

['706-811203', '4305273', '6222266', '885-4289', '885-5637', '683-9000', '2-67001398', '5223.3224', '4629560', '83216300']

In [24]:
news

['706-811203',
 '4305273',
 '6222266',
 '885-4289',
 '885-5637',
 '683-9000',
 '2-67001398',
 '5223.3224',
 '4629560',
 '83216300']

In [25]:
new_strings2 = []
for string in news:
    new_string = string.replace("-", "")
    new_strings=new_string.replace(".","")
    new_strings1=new_strings.replace("(","")
    new_strings2.append(new_strings1)
    
new_strings2

['706811203',
 '4305273',
 '6222266',
 '8854289',
 '8855637',
 '6839000',
 '267001398',
 '52233224',
 '4629560',
 '83216300']

In [26]:
pro7

['-+44-1706-811203',
 '-011-24305273',
 '-011-66222266',
 '-(302-885-4289',
 '-(302-885-5637',
 '-(973-683-9000',
 '-(D-022-67001398',
 '-+52555223.3224',
 '+911244629560',
 '+01-4083216300']

In [27]:
pro8=new_strings2
pro8

['706811203',
 '4305273',
 '6222266',
 '8854289',
 '8855637',
 '6839000',
 '267001398',
 '52233224',
 '4629560',
 '83216300']

In [28]:
pro9=[]
for n in pro7:
    m=n[:6]
    pro9.append(m)

In [29]:
pro8

['706811203',
 '4305273',
 '6222266',
 '8854289',
 '8855637',
 '6839000',
 '267001398',
 '52233224',
 '4629560',
 '83216300']

In [30]:
pro9

['-+44-1',
 '-011-2',
 '-011-6',
 '-(302-',
 '-(302-',
 '-(973-',
 '-(D-02',
 '-+5255',
 '+91124',
 '+01-40']

In [33]:
pro8

['706811203',
 '4305273',
 '6222266',
 '8854289',
 '8855637',
 '6839000',
 '267001398',
 '52233224',
 '4629560',
 '83216300']

In [34]:
pro9

['-+44-1',
 '-011-2',
 '-011-6',
 '-(302-',
 '-(302-',
 '-(973-',
 '-(D-02',
 '-+5255',
 '+91124',
 '+01-40']

In [37]:
pro10=[]
for i in pro9:
    for j in pro8:
        print(i,j)

-+44-1 706811203
-+44-1 4305273
-+44-1 6222266
-+44-1 8854289
-+44-1 8855637
-+44-1 6839000
-+44-1 267001398
-+44-1 52233224
-+44-1 4629560
-+44-1 83216300
-011-2 706811203
-011-2 4305273
-011-2 6222266
-011-2 8854289
-011-2 8855637
-011-2 6839000
-011-2 267001398
-011-2 52233224
-011-2 4629560
-011-2 83216300
-011-6 706811203
-011-6 4305273
-011-6 6222266
-011-6 8854289
-011-6 8855637
-011-6 6839000
-011-6 267001398
-011-6 52233224
-011-6 4629560
-011-6 83216300
-(302- 706811203
-(302- 4305273
-(302- 6222266
-(302- 8854289
-(302- 8855637
-(302- 6839000
-(302- 267001398
-(302- 52233224
-(302- 4629560
-(302- 83216300
-(302- 706811203
-(302- 4305273
-(302- 6222266
-(302- 8854289
-(302- 8855637
-(302- 6839000
-(302- 267001398
-(302- 52233224
-(302- 4629560
-(302- 83216300
-(973- 706811203
-(973- 4305273
-(973- 6222266
-(973- 8854289
-(973- 8855637
-(973- 6839000
-(973- 267001398
-(973- 52233224
-(973- 4629560
-(973- 83216300
-(D-02 706811203
-(D-02 4305273
-(D-02 6222266
-(D-02 8854289
-(D-02 8855637
-(D-02 6839000
-(D-02 267001398
-(D-02 52233224
-(D-02 4629560
-(D-02 83216300
-+5255 706811203
-+5255 4305273
-+5255 6222266
-+5255 8854289
-+5255 8855637
-+5255 6839000
-+5255 267001398
-+5255 52233224
-+5255 4629560
-+5255 83216300
+91124 706811203
+91124 4305273
+91124 6222266
+91124 8854289
+91124 8855637
+91124 6839000
+91124 267001398
+91124 52233224
+91124 4629560
+91124 83216300
+01-40 706811203
+01-40 4305273
+01-40 6222266
+01-40 8854289
+01-40 8855637
+01-40 6839000
+01-40 267001398
+01-40 52233224
+01-40 4629560
+01-40 83216300